<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de curso</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Cadastro de Livro</h1>
    <a href="/">Menu</a>
    <br>
    <br>
    <form th:action="@{/salvarAutor}" method="POST">
        <label>Nome:</label><input type="text" name="nome" required />
        <label>CPF:</label><input type="text" name="cpf" required />
        <label>Email:</label><input type="text" name="email"  required />
        <label>Origem:</label><input type="text" name="origem"  required />

        <input type="submit" value="Salvar" />
        <input type="reset"  value="Limpar" />
    </form>
    <br>

    <table>
        <tr>
            <th>Autores</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Detalhes Livro</th>
        </tr>
        <tr th:each="autor : ${autores}">
            <td th:text="${autor.idAutor}"></td>
            <td th:text="${autor.nome}"></td>
            <td th:text="${autor.email}"></td>
            <td> <a th:href="@{'/detalhesAutor/' + ${autor.idAutor}}">Detalhes</a></td>
        </tr>
    </table>
</body>
</html>